@font-face {
  font-family: 'Nanum Square';
  src: url('../assets/font/NanumSquareL.eot');
  src: url('../assets/font/NanumSquareL.eot?#iefix') format('embedded-opentype'), url('../assets/font/NanumSquareL.woff') format('woff'), url('../assets/font/NanumSquareL.ttf') format('truetype'), url('../assets/font/NanumSquareOTFLight.svg#9e23ceb0c858ca37642ba540402577eb') format('svg');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Nanum Square';
  src: url('../assets/font/NanumSquareR.eot');
  src: url('../assets/font/NanumSquareR.eot?#iefix') format('embedded-opentype'), url('../assets/font/NanumSquareR.woff') format('woff'), url('../assets/font/NanumSquareR.ttf') format('truetype'), url('../assets/font/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Nanum Square';
  src: url('../assets/font/NanumSquareb.eot');
  src: url('../assets/font/NanumSquareb.eot?#iefix') format('embedded-opentype'), url('../assets/font/NanumSquareb.woff') format('woff'), url('../assets/font/NanumSquareb.ttf') format('truetype'), url('../assets/font/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Nanum Square';
  src: url('../assets/font/NanumSquareEB.eot');
  src: url('../assets/font/NanumSquareEB.eot?#iefix') format('embedded-opentype'), url('../assets/font/NanumSquareEB.woff') format('woff'), url('../assets/font/NanumSquareEB.ttf') format('truetype'), url('../assets/font/NanumSquareOTFExtraBold.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg');
  font-style: normal;
  font-weight: 900;
}