@import '../../partials';
.list-container{
  //header 높이.
  padding: 54px 0 72px 0;
  box-sizing: border-box;
  a {
    color: inherit;
    text-decoration: none;
  }
  .list{
    .list-search-sort-box{
      position: relative;
      .list-search-input{
        border: 1px solid $color-g;
        border-radius: 2px;
        box-shadow: 0 1px 0 0 $color-g;
      }
      .list-search-error{
        color: red;
        font-weight: bold;
      }
      .list-sort-box{
        position: absolute;
        .list-sort-btn{
          margin: 0;
          padding: 0;
          background: $color-w;
          border: 1px solid $color-g;
          border-radius: 2px;
          box-shadow: 0 1px 0 0 $color-g;
        }
        .list-selected-item{
          font-weight: bold;
        }
        .list-sort-selector{
          position: absolute;
          top: 0;
          left: 0;
          background: $color-w;
        }
      }
    }
    .list-items{
      //ul
      margin-top: 40px;
      .list-item-box{
        //li
        overflow: hidden;
        .list-item{
          //figure
          position: relative;
          overflow: hidden;
          .list-item-contents{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: rgba($color-b, 0.4);
            .list-item-title{
              padding-right: 30px;
              color: $color-w;
              font-size: 18px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .list-item-content{
              margin-top: 13px;
              color: rgba($color-w, 0.7);
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
      }
      .list-item-message{
        text-align: center;
        margin: 50px 0;
        font-size: 18px;
      }
    }
    // 리스트 페이지 
    .list-pages-box{
      margin-top: 40px;
      text-align: center;
      *{
        display: inline-block;
        background: $color-w;
        border: 1px solid $color-g;
      }
      .list-page-btn{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        padding: 0;
      }
      .list-pages, .list-page-num{
        border: none;
      }
    }
    } // .list 끝
    .list-footer{
      width: 100%;
      height: 182px;
      margin-top: 40px;
      background: $color-m;
      .list-footer-title{
        color: $color-w;
      }
      .list-footer-link{
        display: block;
        color: $color-w;
        border: 1px solid $color-w;
        border-radius: 4px;
        text-align: center;
      }
    }
}
  /*=============================================
  =                    mobile!!!!             =
  =============================================*/
@include mobile{
  .list-container{
    .list{
      padding: 0 10px;
      .list-title{
        margin-top: 40px;
        font-size: 20px;
      }
      // 검색과 정렬
      .list-search-sort-box{
        margin-top: 24px;
        .list-search-input{
          width: 100%;
          height: 35px;
        }
        .list-search-error{
          position: absolute;
          top: 40px;
          left: 0;
        }
        .list-sort-box{
          position: relative;
          margin-top: 20px;
          // 버튼들 공통 스타일
          .list-sort-btn{
            width: 100%;
            height: 34px;
          }
          .list-sort-selector{
            width: 100%;
          }
        }
      }
      // 블로그 글 들 
      .list-items{
        //ul
        margin-top: 40px;
        // 데이터를 가져오는 중이거나, 데이터가 없는 경우.
        .list-item-box{
          //li
          width: 100%;
          margin-bottom: 20px;
          .list-item{
            //figure
            width: 120%;
            height: 254px;
            .list-item-image{
              width: 120%;
              height: auto;
              margin-left: -10%;
            }
            .list-item-contents{
              padding: 16px;
            }
          }
        }
      }
      // 페이지 표시
    }// .list 끝 
    // 리스트 푸터
    .list-footer {
      margin-top: 32px; 
      .list-footer-title {
        margin: 0 47px 0 10px;
        padding: 50px 0 0 0;
        font-size: 20px;
      }
      .list-footer-link {
        margin: 20px 0 0 10px;
        width: 104px;
        height: 34px;
        line-height: 34px;
        font-size: 15px;
      }
    }
  } 
}
  
  /*=====          End of mobile!!!!   ======*/
  
  

/*=============================================
=                  Tablet!!!!!               =
=============================================*/
@include tablet {
  .list-container{
    .list{
      padding: 0 15px;
    .list-title{
      margin-top: 50px;
      font-size: 20px; 
    }
    .list-search-sort-box{
      margin-top: 32px;
      .list-search-box {
        .list-search-input{
          width: 345px;
          height: 36px;
        }
      }
      .list-sort-box {
        top: 0;
        right: 0;
        .list-selected-item{
          width: 105px;
          height: 36px;
        }
        .list-sort-selector .list-sort-btn{
          width: 105px;
          height: 36px;
        }
      }
    }
    .list-items{
      //ul
      text-align: center;
      .list-item-box{
        //li
        display: inline-block;
        width: 47%;
        padding: 0 10px 20px 10px;
        .list-item{
          //figure
          width: 100%;
          height: 260px;
          text-align: left;
          .list-item-image{
            width: 200%;
            height: auto;
          }
          .list-item-contents{
            padding: 16px 23px 16px 16px;
          }
        }
      }
      .list-item-message{
        margin: 100px 0;
        font-size: 22px;
      }
    }
    } // .list 끝
    .list-footer{
      .list-footer-title{
        float: left;
        width: 389px;
        margin: 56px 0 0 64px;
        text-align: left;
        font-size: 25px;
      }
      .list-footer-link{
        float: right;
        width: 153px;
        height: 46px;
        margin: 68px 64px 0 0;
        font-size: 18px;
        line-height: 46px;
      }
    }
  }
}

/*=====        End of Tablet!!!!!     ======*/


/*=============================================
=                Desktop!!!!!              =
=============================================*/

@include desktop {
  .list-container {
    .list{
      padding: 0 20px;
      .list-title{
        margin-top: 117px;
        font-size: 42px; 
      }
      .list-search-sort-box{
        margin-top: 64px;
        .list-search-input{
          width: 567px;
          height: 46px;
        }
        .list-search-error{
          margin-left: 12px;
          font-size: 22px;
        }
        .list-sort-box{
          top: 0;
          right: 0;
          .list-selected-item{
            width: 140px;
            height: 46px;
          }
          .list-sort-selector .list-sort-btn{
            width: 140px;
            height: 46px;
          }
        }
      }
      .list-items{
        .list-item-message{
          margin: 100px 0;
          font-size: 35px;
        }
        //ul
        margin-top: 48px;
        text-align: center;
        .list-item-box{
          //li
          display: inline-block;
          width: 31%;
          padding: 0 13px 20px 13px;
          .list-item{
            //figure
            width: 100%;
            height: 440px;
            text-align: left;
            .list-item-image{
              width: auto;
              height: 100%;
            }
            .list-item-contents{
              height: 80px;
              padding: 24px;
              .list-item-title{
                padding-right: 30px;
                font-size: 22px;
              }
            }
          }
        }

      }
      .list-pages-box{
        .list-page-btn{
          width: 50px;
          height: 50px;
          margin-right: 8px;
        }
      }
    } // .list 끝
    .list-footer{
      height: 260px;
      text-align: center;
      .list-footer-title{
        padding: 70px 0 0 0;
        font-size: 43px;
      }
      .list-footer-link{
        width: 201px;
        height: 62px;
        margin: 21px auto 0 auto;
        font-size: 24px;
        line-height: 62px;
      }
    }
  }
}

/*=====      End of Desktop!!!!!    ======*/




