@include tablet {
  section {
    & > div:nth-child(1) {
      h3 {
        font-size: 18px;
      }
      a {
        font-size: 14px;
      }
    }
  }
  .recommend {
    @include clearfix;
    
    & > div {
      float: left;
    }
    .recommend-img {
      width: 60%;
      position: relative;
      overflow: hidden;
      height: 400px;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        height: auto;
      }
    }
    & > div:not([class="recommend-img"]) {
      width: 40%;
      height: 400px;
    }
    h3 {
      height: 42px;
      line-height: 42px;
      font-size: 16px;
    }
    
  }
}