@import './partials/normalize';
@import './partials/reset';
@import './partials/fonts';
@import './partials/mixin';
@import './partials/base';
@import './partials/color';

#App {
  font-family: 'Nanum Square', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: $color-b;
}

.a11y-hidden {
  @extend %readable-hidden;
}

// 이곳에 모듈을 추가해주세요
@import './modules/Editor/Editor';
@import './modules/List/List';
