.carousel {
  overflow: hidden;
  position: relative;

  ul {
    position: relative;
    @include clearfix;
    li {
      float: left;
    }
  }
  figure {
    position: relative;
    overflow: hidden;
    height: 300px;
    z-index: 50;
    .carousel-img-box {
    }
    img {
      position: absolute;
      width: 150%;
      height: 120%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding: 7px 10px;
      & > * {
        color: $color-w;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .move-btn {
    position: absolute;
    z-index: 80;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: 0 none;
    height: 100%;
    width: 50px;
    background: transparent;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      font-size: 1.8rem;
      color: $color-m;
    }
    &.prev {
      left: 0;
      &::after {
        content: '<';
      }
    }
    &.next {
      right: 0;
      &::after {
        content: '>';
      }
    }
  }
}